/nbproject
/application/sessions
/crud
/Doc
/license.php
/kanny.txt
/ArchVista.zip
/DB/_backup
/vendor/
/application/config/config.php
/sms_api
/Sample
/composer.lock
/rnd.php
/assets/lib/plugins/datatables
/*.code-workspace
